*{
    background-color: black ;
  }
  .topnav {
      background-color: rgb(41, 37, 37);
      overflow: hidden;
    }
    .topnav p{
      color: #f2f2f2;
      padding-left: 1300px;
      background-color:rgb(41, 37, 37) ;
    }
    
    /* Style the links inside the navigation bar */
    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      background-color:  rgb(41, 37, 37);
    }
    
    /* Change the color of links on hover */
    .topnav a:hover {
      background-color: #ff1aff;
      color:  rgb(41, 37, 37);
    }
    
    /* Add a color to the active/current link */
    .topnav a.active {
      background-color: #ff1aff;
      color: white;
    }
    * {box-sizing:border-box}
  

  .site-footer
  {
    background-color:#ff1aff;
    padding:10px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
  }
  .container{
      display: flex;
      
  }
  .col-xs-6 col-md-3{
      padding: 200px;
  }
  .site-footer hr
  {
    border-top-color:#bbb;
    opacity:0.5;
    background-color:#ff1aff;

  }
  .site-footer hr.small
  {
    margin:20px 0;
    background-color:#ff1aff;
  }
  .site-footer h6
  {
    color:black;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px;
    background-color:#ff1aff;

  }
  .site-footer a
  {
    color:black;
    background-color: #ff1aff;
}
  
  .site-footer a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links
  {
    padding-left:0;
    list-style:none;
    background-color:#ff1aff;
    color: black;
  }
  .footer-links li
  {
    display:block;
    background-color:#ff1aff;
    color:black;
  }
  .footer-links a
  {
    color:black;
  }
  .footer-links a:active,.footer-links a:focus,.footer-links a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links.inline li
  {
    display:inline-block
  }
  .site-footer .social-icons
  {
    text-align:right
  }
  .site-footer .social-icons a
  {
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
  }
  .copyright-text
  {
    margin:0
  }
  @media (max-width:991px)
  {
    .site-footer [class^=col-]
    {
      margin-bottom:30px
    }
  }
  @media (max-width:767px)
  {
    .site-footer
    {
      padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
      text-align:center
    }
  }
  .social-icons
  {
    padding-left:0;
    margin-bottom:0;
    list-style:none
  }
  .social-icons li
  {
    display:inline-block;
    margin-bottom:4px;
    background-color:#ff1aff;
  }
  .social-icons li.title
  {
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
  }
  .social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear;
    background-color:#ff1aff;
  }
  .social-icons a:active,.social-icons a:focus,.social-icons a:hover
  {
    color:#fff;
    background-color:#29aafe
  }
  .social-icons.size-sm a
  {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
  }
  .social-icons a.facebook:hover
  {
    background-color:#3b5998
  }
  .social-icons a.twitter:hover
  {
    background-color:#00aced
  }
  .social-icons a.linkedin:hover
  {
    background-color:#007bb6
  }
  .social-icons a.dribbble:hover
  {
    background-color:#ea4c89
  }
  @media (max-width:767px)
  {
    .social-icons li.title
    {
      display:block;
      margin-right:0;
      font-weight:600
    }
  }
  .rty{
      display: flex;
      padding-inline: 400px;
      background-color:#ff1aff;
      
  }
  .col-xs-6 col-md-3{
      padding-left: 200px;
  }
.uio{
    display: flex;
    padding-top: 50px;
    padding-left: 250px;
    padding-bottom: 100px;
    color:#ff1aff;
}

  .h{
    color: white;
  } 
  .row{
padding-left: 500px;


  }
  .col1{
    padding-left: 100px;
    padding-right: 100px;
    background-color:#ff1aff;
  }
  .col2{
    background-color:#ff1aff;
  }
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    color: white;
    padding-right: 50px;
  }
  .card p{
    text-align: justify;
  }
  .avtra{
    width: 150px;
    height: 300px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
}
.heading{
    padding-top: 30px;
    padding-left: 40px;
    color:#ff1aff;
    text-align: center;
    font-size: xx-large;
}


